extends layout/_main

block variables
	- var title = 'Страница регистрации'


block content
	.registration-page
		.mobile-page.mobile-page--registration.mobile-page--mt
			.enter-logo.enter-logo--registration-page
				span.logo-line.logo--small-line
					svg(xmlns='http://www.w3.org/2000/svg', width="76" height="20" viewbox='0 0 152 40')
						path(d='M146.7 35C107.7-4.1 44.3-4.1 5.3 35', fill='none', stroke='#fff', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10')
						path(fill-rule='evenodd', clip-rule='evenodd', fill='none', d='M-299-298h750v1334h-750z')
				span.logo-line.logo--big-line
					svg(xmlns='http://www.w3.org/2000/svg', width="112" height="27" viewbox='0 0 224 54')
						path(d='M218.1 49C159.5-9.6 64.5-9.6 5.9 49', fill='none', stroke='#fff', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10')
						path(fill-rule='evenodd', clip-rule='evenodd', fill='none', d='M-263-258h750v1334h-750z')

				img(src="img/logo.svg", alt="N")
			.registration-form
				form
					.input-block.input-block--mb.input--username
						input(type="text" id="username" class="input input--username" name="username" required)
						label(for="username") Username
					.input-block.input-block--mb.input--password
						input(type="password" id="password" class="input" name="password" required)
						label(for="password") Password
					button.btn.btn--orange Get Started
			.registration-link.justify-c-sb
				a(href="#").link Create Account
				a(href="#").link Need Help?

	//- +icon('icon')
block script